@import "~bootstrap/scss/bootstrap";

.app::-webkit-scrollbar{
  width: .7em;
  height: 1em;
}

.app::-webkit-scrollbar-thumb {
  background-color: rgb(103, 91, 103);
}

.app::-webkit-resixer{
  height: 5em;
}

.app {
  padding: 2em;
  height: 300px;
  width: 400px;
  border: rgb(207, 203, 203) solid;
  border-radius: 10px;
  overflow: scroll;
  background-color: #2e2935;
  


  ul {
    padding: .5em;
    list-style-type: none;
  }

  .leaderboard-title{
    font-size: 2em;
  }
}