@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import 'navbar';
@import 'about';
@import 'table';


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-body {
  background-repeat: no-repeat;
  background-size:cover;
  background-position: top;
  background-image: url("../assets/images/lighthouse-intro.png");
  height: 100%;
  
}
body {
  font-family: 'Press Start 2P', sans-serif;
  font-size: .6em;
  background-color: #19061e;
  color: white;
  
  // background-image: url("../assets/images/lighthouseColor.png");
}

.container {
  padding-top: 9em;
}

#phaser {
  width: 800px;
  height: 520px;
  position: relative;
} 

#phaser > div, canvas {
  border: rgb(207, 203, 203) solid;
  border-radius: 10px;
  display:block;
  margin: 0;
  width: 800px !important;
  height: 520px !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  // z-index: 0;
}

#phaser > div, #phaser > div > div {
  z-index: 99 !important;
}

canvas {
  z-index: 0;
  transform-origin: 50% 50%;
}
#instructions {
  margin-left: 30%;

}

.col-sm-6 {
  margin-top: 3em;
  padding-left: 9em;
}

.css-serial {
  counter-reset: serial-number;  /* Set the serial number counter to 0 */
}

.css-serial td:first-child:before {
  counter-increment: serial-number;  /* Increment the serial number counter */
  content: counter(serial-number);  /* Display the counter */
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }


