@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import 'navbar';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Press Start 2P', cursive;
  font-size: .6em;
  background-color: #200826;
  color: white;
  // background-image: url('cave.png');
  // background-repeat: no-repeat;
  // background-size: cover;

}

.container {
  padding-top: 9em;
}


#phaser {
  width: 800px;
  height: 520px;
} 

canvas{
  border: rgb(207, 203, 203) solid;
  border-radius: 10px;
  display:block;
  margin: 0;
  width: 800px;
  height: 520px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#instructions {
  border: rgb(207, 203, 203) solid;
  font-size: 2em;
  border-radius: 10px;
  padding: 2em;
  height: 300px;
  width: 400px;
}

.main-container {
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10em;
    overflow: scroll;
  
    .root {

    }
}




.col-sm-6 {
  margin-top: 2em;
  padding-left: 10em;
}