.navbar {
  z-index: 100;
  align-items: center;
  background-color: #2e2935;
  color: #ffffff;
  
  a{
    color: white;
  }

  button {
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;

  }
}